
/* popover */
.v-window.v-touchkit-popover.v-touchkit-relative.v-widget{
	min-width: 0 !important
}

.v-touchkit-opacity-transition {
	-webkit-transition: opacity 0.1s linear;
}
.v-window-modalitycurtain.v-touchkit-opacity-transition {
	background: rgba(0, 0, 0, 0);
}

.v-touchkit-popover.v-touchkit-relative .v-window-wrap {
	overflow: visible;
	background: transparent;
	position: relative;
	border: windowBorder;
}

.v-touchkit-popover.v-touchkit-relative.v-touchkit-smallscreen .v-window-wrap,
.v-touchkit-popover.v-touchkit-relative.v-touchkit-smallscreen .v-window-contents {
	padding: 0;
	border: none;
	border-radius: 0;
}

.v-touchkit-popover.v-touchkit-relative.v-touchkit-smallscreen {
	box-shadow: dropShadow;
}

.v-touchkit-popover .v-window-closebox,
.v-touchkit-popover .v-window-outerheader,
.v-touchkit-popover .v-window-footer,
.v-touchkit-popover .v-window-maximizebox {
	display: none;
}

.v-touchkit-popover .v-window-contents {
	border: rgb(195, 195, 195);
	border-width: 1px;
	border-style: solid;
}

.v-button.v-button-iconbutton-size-big.opens-popover-menu.v-button-opens-popover-menu.v-button-in-menu.v-button-v-button-in-menu{
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 8%, rgb(246, 246, 246) 9.5%, whitesmoke 100%);
}

.v-touchkit-popover .v-button:before {
	display: inline;
}

.v-touchkit-popover .v-button.v-popover-upper-submenu .v-icon{
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	width: 35px;
	display: block;
	opacity: 0.8;
}

.v-touchkit-popover .v-button.v-popover-upper-submenu .v-button-caption {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.v-touchkit-popover .v-popover-upper-submenu.v-button{
	padding: 3px 6px !important;
	border-radius: 0px;
}