<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="FormRunner">
	<test name="FormRunner" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="orbeonFormRunnerMatcher" />
				<include name="hiddenElements" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.form.runner.tests.OrbeonFormRunnerMatcherTests" />
			<class name="com.biit.form.runner.tests.HiddenElementsTests" />
		</classes>
	</test>
</suite>