
@mixin formRunner {
	/* Form Runner */	
	.v-form-runner-group {
		-webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
		box-shadow: 0 0 0 2px rgba(45, 135, 226, 0.5);
	}
	
	.v-csslayout.vFormRunnerElement.v-csslayout-vFormRunnerElement {
		display: table-caption;
	}
	
	/* Radio buttons in form runner appeared with the full screen size */
	.vFormRunnerElement span.v-radiobutton.v-select-option {
	    display: inline-block !important;
	    width: 400px;
	    word-wrap: break-word;
	    white-space: initial;
	}
	
	.vFormRunnerElement .v-select-optiongroup-horizontal span.v-radiobutton.v-select-option {
	    width: inherit;
	    white-space: nowrap;
	}
}